<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/iconmon"
        android:label="Premonsoon Actionss"
        android:roundIcon="@mipmap/iconmon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PreMonsoonAction"
        tools:targetApi="31">
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".GeoMap"
            android:exported="false"
            android:label="@string/title_activity_geo_map" />
        <activity
            android:name=".Activities.FrameLayout"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.AddInsufficiency"
            android:exported="false"
            android:parentActivityName=".Activities.Equipments" />
        <activity
            android:name=".Activities.Add_Material"
            android:exported="false" />
        <activity
            android:name=".Activities.Add_RateRunning"
            android:exported="false"
            android:parentActivityName=".Activities.Equipments" />
        <activity
            android:name=".Activities.PMUWise"
            android:exported="false" />
        <activity
            android:name=".Activities.PMUs"
            android:exported="false" />
        <activity
            android:name=".Activities.ShowReport"
            android:exported="false"
            android:label="Detailed Report"
            android:parentActivityName=".Activities.Report" />
        <activity
            android:name=".Activities.Report"
            android:exported="false"
            android:label="Action Taken Reports"
            android:parentActivityName=".Activities.Action" />
        <activity
            android:name=".Activities.addReport"
            android:exported="false"
            android:label="Add Report"
            android:parentActivityName=".Activities.Report" />
        <activity
            android:name=".Activities.Add_Equipment"
            android:exported="false"
            android:parentActivityName=".Activities.Equipments" />
        <activity
            android:name=".Activities.Equipments"
            android:exported="false"
            android:parentActivityName=".Activities.Action" />
        <activity
            android:name=".Activities.Action"
            android:exported="false"
            android:parentActivityName=".Activities.ROs" />
        <activity
            android:name=".Activities.ROs"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>