<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/iconmon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconmon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PreMonsoonAction"
        tools:targetApi="31">
        <activity
            android:name=".ShowReport"
            android:exported="false"
            android:parentActivityName=".Report"/>
        <activity
            android:name=".Report"
            android:exported="false"
            android:parentActivityName=".Action"
            android:label="Action Taken Report"/>
        <activity
            android:name=".addReport"
            android:exported="false"
            android:parentActivityName=".Report"
            android:label="Add Report"/>
        <activity
            android:name=".Add_Equipment"
            android:exported="false"
            android:parentActivityName=".Equipments"/>
        <activity
            android:name=".Equipments"
            android:exported="false"
            android:parentActivityName=".Action"/>
        <activity
            android:name=".Action"
            android:exported="false" />
        <activity
            android:name=".ROs"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>